<div class="sign-up-content">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="sign-up-grid">
      <div class="field">
        <%= f.label :first_name %> <br>
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %> <br>
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(if changing)</i><br/>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %><br/>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div data-controller="photo-preview" class="profile-photo-select">
        <div class="field"
        <%= f.label :profile_photo, 'Add in your profile photo!' %> <br>
        <%= f.file_field :profile_photo,
                         direct_upload: true,
                         accept: "image/jpeg,image/png,image/jpg",
                         'data-photo-preview-target' => "imageField",
                         'data-action' => 'input->photo-preview#preview' %>
      </div>

      <div>
        <%= image_tag(url_for(current_user.profile_photo), class: "profile-photo", 'data-photo-preview-target' => 'imagePreview') %>
      </div>
    </div>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

  <%= link_to "Back", :back %></div>
