<%= turbo_frame_tag 'user-search' do  %>
  <div class="scrollable user-search">
    <h2>Search Users</h2>
    <%= form_with url: users_path, method: :get do |f|%>
      <div class="field">
        <%= f.label :user_first, 'First Name:' %>
        <%= f.text_field :user_first, value: params[:user_first]%>
      </div>

      <div class="field">
        <%=f.label :user_last, 'Last Name:' %>
        <%= f.text_field :user_last, value: params[:user_last] %>
      </div>

      <div class="actions">
        <%= f.submit "Search" %>
      </div>
    <% end %>

    <div class="results">
      <% if @searched_users %>
        <% @searched_users.each do |user| %>
          <div><%= link_to user.name, user_path(user), data: { turbo: false }%></div>
        <% end %>
      <% end %>
    </div>
   </div>
<% end %>

