<div class="user-nav" data-controller="hidden" data-hidden-change-class="hidden">
  <div class="buttons">
    <button type="button" data-hidden-target="input" value="sent-requests" data-action="hidden#toggle">Sent Requests</button>
    <button type="button" data-hidden-target="input" value="follow-requests" data-action="hidden#toggle">Follow Requests</button>
    <button type="button" data-hidden-target="input" value="followers" data-action="hidden#toggle">Followers</button>
    <button type="button" data-hidden-target="input" value="following" data-action="hidden#toggle">Following</button>
    <button type="button" data-hidden-target="input" value="posts" data-action="hidden#toggle" class="selected">Posts</button>
  </div>


  <div id="sent-requests" class="hidden" data-hidden-target="field">
    <h2>Sent Requests</h2>
    <% sent_requests.each do |request| %>
      <div>
        <%= request.requested.first_name %>
        <% if current_user == user %>
          <%= link_to 'Cancel', request_path(request.id, user_id: user.id), data: { turbo_method: :delete } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="follow-requests" class="hidden" data-hidden-target="field">
    <h2>Follow Requests</h2>

    <% follow_requests.each do |request| %>
      <div>
        <%= request.requester.first_name %>
        <% if current_user == user %>
          <%= form_with model: Following do |f| %>
            <%= hidden_field_tag 'request[id]', request.id %>
            <%= f.hidden_field :followee_id, value: user.id %>
            <%= f.hidden_field :follower_id, value: request.requester.id %>
            <%= button_tag 'Accept', type: 'submit'%>
          <% end %>
          <%= button_to 'Reject', request_path(request.id, user_id: user.id), method: :delete, class: 'reject-request' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="followers" class="hidden" data-hidden-target="field">
    <h2>Followers</h2>
    <% followers.each do |follow| %>
      <div><%= follow.follower.first_name %>
        <% if current_user == user %>
          <%= link_to 'Remove', following_path(follow, user_id: user.id), data: { turbo_method: :delete } %></div>
        <% end %>
    <% end %>
  </div>

  <div id="following" class="hidden" data-hidden-target="field">
    <h2>Following</h2>
    <% following.each do |follow| %>
          <div>
            <%= follow.followee.first_name %>
            <% if current_user == user %>
            <%= link_to 'Unfollow', following_path(follow, user_id: user.id), data: { turbo_method: :delete } %>
            <% end %>
          </div>
    <% end %>
  </div>

  <div id="posts" data-hidden-target="field">
    <h2>Posts</h2>
    <% posts.each do |post| %>
         <div class="preview">
           <%= render post, user: user, preview: true %>
         </div>
    <% end %>
  </div>
</div>
