<h1>Welcome <%= @user.first_name %></h1>

<div class="tmp-header">
  <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete} %>
  <%= link_to "Edit Profile", edit_user_registration_path %>
</div>

<div class="sent-requests">
  <h2>Sent Requests</h2>
  <% @sent_requests.each do |user| %>
  <div><%= user.first_name %></div>
  <% end %>
</div>

<div class="follow-requests">
  <h2>These People Want to Follow You</h2>

  <% @follow_requests.each do |user| %>
    <div><%= user.first_name %></div>
  <% end %>
</div>

<div class="user-search">
  <h2>Search Users</h2>
  <%= form_with url: user_path(current_user), method: :get do |f|%>
    <div class="field">
      <%= f.label :user_first %>
      <%= f.text_field :user_first, value: params[:user_first]%>
    </div>

    <div class="field">
      <%=f.label :user_last %>
      <%= f.text_field :user_last, value: params[:user_last] %>
    </div>

    <div class="actions">
      <%= f.submit "Search" %>
    </div>
  <% end %>

  <div class="results">
    <% if @searched_users %>
    <% @searched_users.each do |user| %>
      <div><%= link_to "#{user.first_name} #{user.last_name}", user_path(user)%></div>
      <% end %>
    <% else %>
      <div>No user</div>
    <% end %>
  </div>

</div>

