<div class="scrollable user-page">
  <div class="user-header">
    <%= image_tag(url_for(@user.profile_photo), class:'profile-photo') %>
    <h1>
    <% if current_user == @user %>
      Welcome <%= @user.first_name %>
    <% else %>
      <%= @user.first_name %>
    <% end %>
    </h1>
  </div>

  <% if current_user == @user %>
    <div class="tmp-nav">
      <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
      <%= link_to 'New Post', new_user_post_path(@user) %>
    </div>
  <% end %>

  <%= render 'user_nav',
             sent_requests: @sent_requests,
             follow_requests: @follow_requests,
             followers: @followers,
             following: @following,
             posts: @posts,
             likes: @likes,
             dislikes: @dislikes,
             user: @user
  %>
  <%= render 'user_request', user: @user %>
</div>



