<h1>Chat between <%= @chat.chatter_1.name %> and <%= @chat.chatter_2.name %></h1>


<div class="messages-view">
  <%= turbo_stream_from @chat %>
  <div id="messages" data-controller="scroll">
    <% @chat.messages.each do |msg| %>
    <%= render msg %>
    <% end %>
  </div>

  <%= form_with model: Message.new , class: "send-message",
                data: { controller:"clear-form", action:"turbo:submit-end->clear-form#clear"} do |f| %>
    <%= f.hidden_field :chat_id, value: @chat.id %>
    <%= f.hidden_field :sender_id, value: @current_user.id %>
    <%= f.text_field :message, placeholder: "Send a new message", data: {clear_form_target:"field"} %>
  <% end %>
</div>
