<div class="post scrollable">
  <div class="post-header">
    <%= image_tag(url_for(user.profile_photo), class:'profile-photo') %>
    <%= link_to user.name, user %>
  </div>

  <% if preview %>
    <a class="link-to-show" href=<%= user_post_path(user, post)%>> <%= image_tag(url_for(post.image), class: 'post-image') %></a>
  <% else %>
    <%= image_tag(url_for(post.image), class: 'post-image') %>
  <% end %>

  <div class="body" data-controller="hidden">
    <nav class="post-buttons">
      <button type="button"
              value="description"
              class="selected description-button"
              data-hidden-target="input"
              data-action="hidden#toggle"
              >Description</button>
      <button type="button"
              value="recipe"
              class="recipe-button"
              data-hidden-target="input"
              data-action="hidden#toggle"
              >Recipe</button>
    </nav>

    <% if preview %>
      <a class="link-to-show" href=<%= user_post_path(user, post) %>>
        <div id="description" data-hidden-target="field">
          <h3>Description</h3>
          <p><%= post.description %></p>
        </div>

      <div id="recipe" class="hidden" data-hidden-target="field">
        <h3>Recipe</h3>
        <%= post.recipe %>
      </div>
      </a>

    <% else %>
      <div id="description" data-hidden-target="field">
        <h3>Description</h3>
        <p><%= post.description %></p>
      </div>

      <div id="recipe" class="hidden" data-hidden-target="field">
        <h3>Recipe</h3>
        <%= post.recipe %>
      </div>
    <% end %>
  </div>
</div>
