<div class="post">
  <div class="post-header">
    <%= image_tag(url_for(user.profile_photo), class:'profile-photo') %>
    <%= link_to user.name, user %>
    <div class="dropdown">
      <button class="dropbtn">
           <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"/></svg>
      </button>
      <div class="dropdown-content">
        <%= (link_to 'Delete', user_post_path(user, post), data: { turbo_method: :delete}) if current_user == user%>
        <%= link_to 'Edit', edit_user_post_path(user, post) %>
      </div>
    </div>
  </div>

  <% if preview && post.image.attached? %>
    <a class="link-to-show" href=<%= user_post_path(user, post)%>> <%= image_tag(url_for(post.image), class: 'post-image') %></a>
  <% elsif post.image.attached? %>
    <%= image_tag(url_for(post.image), class: 'post-image')%>
  <% end %>

  <div class="body" data-controller="hidden">
    <nav class="post-buttons">
      <button type="button"
              value="description"
              class="selected description-button"
              data-hidden-target="input"
              data-action="hidden#toggle"
              >Description</button>
      <button type="button"
              value="recipe"
              class="recipe-button"
              data-hidden-target="input"
              data-action="hidden#toggle"
              >Recipe</button>
    </nav>

    <% if preview %>
      <a class="link-to-show" href=<%= user_post_path(user, post) %>>
        <div id="description" data-hidden-target="field">
          <h3>Description</h3>
          <p><%= post.description %></p>
        </div>

      <div id="recipe" class="hidden" data-hidden-target="field">
        <h3>Recipe</h3>
        <%= post.recipe %>
      </div>
      </a>

    <% else %>
      <div id="description" data-hidden-target="field">
        <h3>Description</h3>
        <p><%= post.description %></p>
      </div>

      <div id="recipe" class="hidden" data-hidden-target="field">
        <h3>Recipe</h3>
        <%= post.recipe %>
      </div>
    <% end %>
  </div>
</div>
