<h1>Create a New Post</h1>

<%= form_with model: [@user, @post] do |f|%>
  <div class="field">
    <%= f.label :description %>
    <ul class="post-errors">
      <% @post.errors.full_messages_for(:description).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :recipe %>
    <ul class="post-errors">
      <% @post.errors.full_messages_for(:recipe).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <%= f.text_area :recipe %>
  </div>

  <%= button_tag 'Post', type:'submit' %>
<% end %>
