<!DOCTYPE html>
<html>
  <head>
    <title>Yummers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      <%= ".msg-#{current_user&.id}" %> {
        --_p: 100% !important;
        border-bottom-right-radius: 0 0 !important;
        border-bottom-left-radius: 10px 10px !important;
        place-self: end;
        background-color: #ba8d66 !important;
        padding: 10px
      }
      <%= ".cont-#{current_user&.id}" %> {

        display: flex;
        justify-content: flex-end
      }
    </style>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1 class="title">YUMMERS</h1>
    <% if user_signed_in? %>
    <div class="content">
      <div class="nav-bar">
        <div class="home"><%= link_to 'Home', root_path %></div>
        <div class="class"><%= link_to "Chats", chats_path %></div>
        <div class="profile"> <%= link_to 'Profile', current_user %></div>
      </div>


      <div class="user-views">
        <%= yield %>
      </div>
      <%= render 'users/user_search' %>
    </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
