<!DOCTYPE html>
<html>
  <head>
    <title>Yummers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1 class="title">YUMMERS</h1>
    <% if user_signed_in? %>
    <div class="content">
      <div class="nav-bar">
        <div class="home"><%= link_to 'Home', root_path %></div>
        <div class="profile">